.alert {
	border-collapse: separate !important;
	border: 0;
	width: 100%;
	& > tbody > tr > td {
		width: 100%;
		padding: $alert-padding-y $alert-padding-x;
		border: $alert-border-width solid transparent;
		@include border-radius($alert-border-radius);
	}
}

@each $state, $value in $theme-colors {
	$alert-background: shift-color($value, $alert-bg-scale);
	$alert-border: shift-color($value, $alert-border-scale);
	$alert-color: shift-color($value, $alert-color-scale);
	@if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
		$alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
	}
	.alert-#{$state} {
		@include alert-variant($alert-background, $alert-border, $alert-color);
	}
}
